name: Flutter Release

on:
  push:
    tags:
      - 'v*'   # v1.0.0, v2.1.3 etc

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Build release APK
        run:  |
          flutter build apk --release \
            --dart-define=AI_ENABLED=true \
            --dart-define=GROQ_API_KEY=${{ secrets.GROQ_API_KEY }}


      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/app/outputs/flutter-apk/app-release.apk
